{% extends "base.html" %} {% block title %} Home Page {% endblock %}
{% block content %}
<div class="container-fluid container">
    <form action="" method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Enter ticket number" name="ticketNumber">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
        </div>
    </div>
    <div>

    </div>
    <div>
    {% if listOfTickets %}
        <p>listOfTickets</p>
    {% endif %}
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
        </ul>
        <ul class="list-group list-group-horizontal-sm">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
        </ul>
        <ul class="list-group list-group-horizontal-md">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
        </ul>
        <ul class="list-group list-group-horizontal-lg">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
        </ul>
        <ul class="list-group list-group-horizontal-xl">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
        </ul>
        <ul class="list-group list-group-horizontal-xxl">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
        </ul>
        {% for task in listOfTickets %}
            <div>
                <p>{{task.number}}</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}